@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-fundo: #151515;
    --cor-itens: #191919;
    --cor-section: #1E1E1E;
    --roxo: #6241DA;
    --texto: #fff;
    --texto-secundario: #777C8B;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    color: var(--texto);
}

#header{
    font: normal 700 1em 'Montserrat', monospace;
    background-color: var(--roxo);
    color: var(--texto);
    height: 12dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-itens);
}

.logo{
    margin: 0 7vw;
    display: flex;
    align-items: center;
}

.logo i{
    padding: 0.5vw;
}


.nav{
    font: normal 700 1em 'JetBrains Mono', sans-serif;
    width: 40%;
    margin: 0 7vw;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-content: center;
    padding: 0.7vw;
}

.nav li{
    
}
.nav-link a {
    display: flex;
    align-items: center;
    color: var(--texto);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav li:hover a{
    color: var(--roxo);
}



