.social-bar{
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    background: var(--bar-bg);
    width: auto;
    padding: 0.7rem;
    border: solid 0.25px var(--bar-border);
    border-radius: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-bar a{
    display: flex;
}

.social-bar img{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.7rem;
    transition: all 0.2s ease-in-out;
    border-radius: 30%;
}

.social-bar img:hover{
    background-color: var(--card-color);
}

.social-bar hr{
    margin: 0 0.5rem;
    border: none;
    background-color: var(--card-proj-border);
    width: 1px;
    height: 1.5rem;
}

.lang-btn{
    border: none;
    background-color: transparent;
    border-radius: 30%;
}

.lang-btn:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
    .social-bar{
        width: auto;
    }
}