.exp-main{
    width: 65%;
    margin: 0 auto 10vh auto;
}

.exp-main h2{
    margin: 0;
    padding: 0;
}

.exp-subtitle{
    margin: 1vh 0 5vh 0!important;

}

.exp-main h5{
    font-weight:500 ;
    color: var(--text-secondary);
}
.exp-btn{
    display: flex;
    justify-content: space-between;

}

.btn{
    width: 50%;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7vw 0.5vw;
    border: solid 1px var(--card-proj-border);
    border-radius: 1rem 1rem 1rem 0;
    transition: 0.2s ease-in-out;
}

.btn:hover{
    background-color: var( --card-color);
}

#exp-particles{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  

.exp-content{
    padding: 1vw 2vw;
    height: 50vh;
    max-height: 50vh;
    overflow-x: auto;
    border: solid 1px var(--card-proj-border);
    border-top: none;
    border-radius: 0 0 0.7rem 0.7rem;
    background-color: var(--bg-color);
}

.exp-scontent{
    margin-bottom: 5vh;
}

.exp-content h3{
    margin: 1vw 0;
}

.exp-content h5{
    margin: 0 1vw;
}

.exp-scontent ul{
    margin: 1vw;
    color: var(--text-secondary);
    font-weight: 500;
}

.exp-scontent li{
    font-size: 0.8rem;
    margin: 1vh 0;
}

.exp-scontent li>span{
    color: var(--text-principal);	
    font-weight: 600;
}

@media(max-width: 414px){
    .exp-main{
        width: 85%;
    }
}