footer{
    height: auto;
    background-color: var(--transparent-bg);
    border-top: 1px solid var(--card-proj-border);
    text-align: center;
    padding: 1rem 0;
}

footer img{
    width: 3.5rem;
}

footer>div{
    font-size: 0.8rem;
    font-weight:500 ;
    color: var(--text-secondary);
    padding-top: 1.5rem;
}