

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0.7rem 1rem;
    font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;;
}

.logo{
    width: 3rem;
    margin-left: 2rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 40%;
}

.nav-link{
    color: var(--text-gray);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.nav-link:hover{
    color: var(--text-principal);
}