header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vh 3vw;
}

header img{
    width: 3rem;
}

nav{
    font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;;
    width: 35%;    
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: var(--text-gray);
    font-size: 1.1rem;
    font-weight: 600;
    transition: ease-in-out 0.3s;
}

.nav-link:hover{
    color: var(--purple-light);
}


@media (max-width: 414px){
    nav{
        display: none;
    }
}