.proj-main{
    width: 70%;
    margin: 10vh auto;
}

.proj-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 5vh;
}

.proj-header h2{
    margin: 0;
}

.proj-header h5{
    font-weight:500 ;
    color: var(--text-secondary);
    margin: 0 !important;
}

.proj-link{
    color: var(--text-principal);
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: solid 1px var(--card-proj-border);
    background-color: var(--proj-card-bg);
    border-radius: 2rem;
    transition: ease-in-out 0.2s;
    display: flex;
    align-items: center;
}

.proj-link svg{
    margin-right: 0.2rem;
    margin-left: 0.5rem;
}

.proj-link:hover{
    background-color: var(--card-bg-hover);
    border: solid 1px var(--card-border-hover);
}

.home-cards{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.home-cards .cardProj{
    width: 35vw;
    height: auto;
    border-radius: 10px;
    background-color: var(--proj-card-bg);
    border: solid 0.1px var(--card-proj-border);
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.cardProj{
    height: auto;
    border-radius: 10px;
    background-color: var(--proj-card-bg);
    border: solid 0.1px var(--card-proj-border);
    text-decoration: none;
    transition: ease-in-out 0.2s;
}


.cardProj:hover{
    transform: scale(1.03);
}

.card-img{
    width: 100%;
    border-radius: 10px;
}

.card-text{
    margin: 2vw 1.7vw;
}

.card-text h4{
    font-weight:500 ;
    color: var(--text-principal);
    margin-bottom: 0.5vw;
}
.card-text h5{
    font-weight:500 ;
    color: var(--text-secondary);
    margin: 0;
}

.card-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin: 1vw 0 2vw 0;
}

.card-tags h6{
    margin: 0;
    color: var(--text-principal);
    background-color: var(--bg-color);
    padding: 0.2vw 0.7vw;
    border-radius: 1vw;
}