.exp-main{
    width: 70%;
    margin: 0 auto 10vh auto;
}

.exp-main>h2, .exp-main>h5{
    text-align: center;
    margin: 0;
}

.exp-main h5{
    margin-top: 1vh;
    font-weight:500 ;
    color: var(--text-secondary);
}


.exp-btn{
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: 5vh auto ;
    padding: 1rem;
    border: solid 1px var(--card-proj-border);
    border-radius: 1rem;
    gap: 0.5rem;
}

.btn{
    width: 18vw;
    height: 3rem;
    background-color: transparent;
    font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.7rem;
    border: none;
    transition: 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn-icon{
    width: 1.5rem;
}

#exp-particles{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  

.exp-content{
    padding: 1vw 2vw;
    height: 50vh;
    max-height: 50vh;
    overflow-x: auto;
    border: solid 1px var(--card-proj-border);
    border-radius: 0.7rem;
    background-color: var(--bg-color);
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

.exp-scontent{
    margin-bottom: 5vh;
}
.exp-scontent h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.exp-scontent>div{
    display: flex;
    align-items: center;
    gap: 2.5rem;

}

.exp-scontent h4{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 2vh 0 5vh 0;
    color: #E8E8E8;
    font-weight: 500;
}

.exp-content svg{
    width: 1.5rem;
}
.exp-scontent h5{
    
    margin: 0;
    padding: 0;
}

@media(max-width: 1024px){
    .exp-main{
        width: 85%;
    }
}