@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-principal);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: rgb(9, 10, 11);
  --bar-bg: #0C0D0D;
  --bar-border: #1B1C1D;
  --text-principal: #ffffff;
  --text-secondary: #D1D1D1;
  --purple-color: #692BD8;
  --purple-light: #976ce4;
  --purple-tags: #b597ec;
  --text-gray: #989898;
  --card-color: #161717;
  --transparent-bg: #101010bf;
  --card-bg-hover: #404040;
  --proj-card-bg: #141414;
  --card-proj-border: #161717;

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--card-bg-hover);
    border-radius: 10px;
  }
}


html, body {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img{
  pointer-events: none
}

.tooltip-container {
  position: relative;
}

.tooltip {
  width: max-content;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
  background-color: var(--card-color);
  color: var(--text-principal);
  border: solid 1px var(--purple-light);
  font-weight: 600;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.tooltip.visible {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}