@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
  font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-principal);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #151515;
  --section-color: #121212;
  --text-gray: #777c8b;
  --text-principal: #ffffff;
  --text-secondary: #D1D1D1;
  --card-color: #222222;
  --transparent-bg: #00000050;
  --icon-bg: #474747;
  --card-border-hover: #A0A0A0;
  --card-bg-hover: #404040;
  --proj-card-bg: #1C1C1C;
  --card-proj-border: #303030;
}

body {
  margin: 0;
  padding: 0;
}